.filter-container {
  width: 75vw;
  height: 100%;
  border: 1px solid firebrick;
  border-radius: 10px;
  margin: 2rem auto;
  margin-bottom: 1rem;
}

@media (min-width: 1023px) {
  .filter-container {
    width: 33vw;
    height: 100%;
    margin: 1rem;
    margin-left: 60vw;
  }

  input {
    margin-left: 1rem;
  }
}
